<html>
  <title>Notes</title>
  <body>
    <h1>Notes App</h1>
    <div id="owner"></div>
    <p>{{presetMessage}}</p>
    <h2>Accounts on the Node</h2>
    {{#each accounts}}
      <div>{{this}}</div>
    {{/each}}
    <h2>Notes Contract</h2>
    <p>{{contract._address}}</p>
    <script type="text/javascript" src="./view.js"></script>
  </body>
</html>
