<html>
  <title>Notes</title>
  <body>
    <h1>Notes App</h1>
    <div id="owner"></div>
    <form id="setOwner">
      <input type="text" id="formOwner"/>
      <input type="submit"/>
    </form>
    <ul id="displayNotes">

    </ul>
    <form id="addNote">
      <input type="text" id="inputNote"/>
      <label for="inputNote">Add a note</label>
      <input type="submit"/>
    </form>

    <p>{{presetMessage}}</p>
    <h2>Accounts on the Node</h2>
    {{#each accounts}}
      <div>{{this}}</div>
    {{/each}}
    <h2>Notes Contract</h2>
    <p>{{contract._address}}</p>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script type="text/javascript" src="./bundle.js"></script>
  </body>
</html>
